.DS_Store
Rodan/Frameworks/AppKit
Rodan/Frameworks/Debug/
Rodan/Frameworks/Foundation
Rodan/Frameworks/Objective-J
Rodan/Resources/MainMenu.cib

/Rodan/Info.plist

/Rodan/Rodan.xcodeproj/

/Rodan/.XcodeSupport/

*.cib
