[submodule "Rodan/Frameworks/LPKit"]
	path = Rodan/Frameworks/LPKit
	url = git@github.com:aljungberg/LPKit.git
[submodule "Rodan/Frameworks/TNKit"]
	path = Rodan/Frameworks/TNKit
	url = git@github.com:ArchipelProject/TNKit.git
[submodule "Rodan/Frameworks/Ratatosk"]
	path = Rodan/Frameworks/Ratatosk
	url = git@github.com:mrbannon/Ratatosk.git
[submodule "Rodan/Frameworks/cappuccino"]
	path = Rodan/Frameworks/cappuccino
	url = https://github.com/cappuccino/cappuccino.git
